html {
  /* overflow-x: hidden; */
  width: 100vw;
}

body {
  margin: 0 !important;
  width: 100%;
  word-break: keep-all;
  font-size: 0.9rem;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}
